{{define "edit_article"}}
<div class="container">
    <form class="mt-1" hx-post="/articles/edit/{{.Others.id}}" hx-target="#main-app" hx-swap="innerHTML" enctype="multipart/form-data">
        <div class="input-group has-validation">
            <label for="title" class="sr-only">Main title</label>
            <input class="form-control mb-1 {{if .Errors.title}} is-invalid {{end}}" placeholder="Main title"
                type="text" name="title" id="title" value="{{ .FormValues.title}}">
            {{if .Errors.username}}
            <div class="invalid-feedback">{{.Errors.title}}</div>
            {{end}}
        </div>
        <textarea class="form-control mb-1 mw-100" placeholder="Write your article" hidden name="text" id="text"
            cols="30" rows="20"></textarea>
        <div id="summernote"></div>
        <script>
            var configuracionInicial = {
                placeholder: 'Write your article here...',
                tabsize: 2,
                toolbar: [
                    ['style', ['style']],
                    ['font', ['bold', 'underline', 'italic', 'clear']],
                    ['fontname', ['Charter', 'Helvetica', 'Freight text', 'Arial', 'Arial Black', 'Comic Sans MS', 'Courier New']],
                    ['color', ['color']],
                    ['para', ['ul', 'ol', 'paragraph']],
                    ['insert', ['link', 'picture']],
                    ['view', ['undo', 'redo', 'help']],
                ],
            };
            var htmlContent = '{{.PureHTML }}';
            $(document).ready(function () {
                $('#summernote').summernote(configuracionInicial);
                $('#summernote').summernote('code', htmlContent);
            });
            $('#summernote').on('summernote.change', function () {
                var htmlContent = $('#summernote').summernote('code');
                $('#text').val(htmlContent);
            });
        </script>
        <button class="btn btn-info mt-2" type="submit">Post</button>
    </form>
</div>
{{end}}