{{define "profile"}}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="media border p3">
                <img src="{{.pfp}}" alt="@{{.username}}'s profile picture" class="mr-3 mt-3 rounded-circle">
                <div class="media-body">
                    <h5 class="mt-0">@{{.username}} <small><i>{{.fullname}}</i></small></h5>
                    <p>{{.bio}}</p>
                    <p><button class="btn btn-primary" hx-target="#main-app" 
                        hx-get="/profile/edit">Edit</button></p>
                </div>
            </div>
        </div>
    </div>
</div>
{{end}}