{{define "application_summary"}}
<div class="container fade-in fade-out" hx-get="/admin/tools/summary" hx-swap="outerHTML" hx-trigger="every 10s">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10 border rounded border-primary m-3 p-3">
            <div class="row">
                <div class="col-md-6">{{Translate .locale "summary_user_count"}}</div>
                <div class="col-md-6"><strong>{{.userCount}}</strong></div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10 border rounded border-dark m-3 p-3">
            <div class="row" style="border-bottom: 1px solid black;">
                <div class="col-md-6">{{Translate .locale "summary_article_count"}}</div>
                <div class="col-md-6"><strong>{{.articleCount}}</strong></div>
            </div>
            <div class="row" style="border-bottom: 1px solid black;">
                <div class="col-md-6">{{Translate .locale "summary_gallery_count"}}</div>
                <div class="col-md-6"><strong>{{.galleryCount}}</strong></div>
            </div>
            <div class="row" style="border-bottom: 1px solid black;">
                <div class="col-md-6">{{Translate .locale "summary_total_post_count"}}</div>
                <div class="col-md-6"><strong>{{.totalPostCount}}</strong></div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
    <button class="btn btn-lg btn-dark" id="backup">
        <p class="pl-3 pr-3 m-0">{{Translate .locale "download_database_backup"}}</p>
    </button>
    <script>
        document.getElementById("backup").onclick = function() {
            window.location.href = "/admin/tools/database.db";
        }
    </script>
    <button class="btn btn-lg btn-info" id="logs">
        <p class="pl-3 pr-3 m-0">{{Translate .locale "download_logs_backup"}}</p>
    </button>
    <script>
        document.getElementById("logs").onclick = function() {
            window.location.href = "/admin/tools/logs.zip";
        }
    </script>
</div>
{{end}}