{{define "article"}}
<div class="container">
    <div class="mx-auto mt-3 rounded" style="background: #bdffe8">
        <h1 class="m-3">{{.title}}</h1>
        <p hx-get="/user/profile/{{.author}}"
        hx-target="#main-app" hx-swap="innerHTML" hx-trigger="click"
        class="ml-3 p-2 rounded" style="background:  #49fb91; cursor: pointer; width: fit-content;"
        >{{Translate $.locale "by_preposition"}} <strong>@{{.author}}</strong></p>
        <p class="m-3">{{.createdAt}}</p>
    </div>
    {{if .isAuthor}}
    <div class="mx-auto mt-3">
        {{if .isActive}}
        <button class="btn btn-info" hx-get="/article/edit/{{.id}}"
        hx-target="#main-app" hx-swap="innerHTML" hx-push-url="true">{{Translate .locale "article_author_edit_button"}}</button>
        {{if not .published}}
        <button class="btn btn-warning" hx-post="/article/publish/{{.id}}"
        hx-target="#main-app" hx-swap="innerHTML">{{Translate .locale "article_author_publish_button"}}</button>
        {{end}}
        {{end}}
        <button hx-delete="/article/delete/{{.id}}" class="btn btn-danger">{{Translate .locale "article_author_delete_button"}}</button>
    </div>
    {{end}}
    <div hx-get="/article/{{.id}}/tags" hx-trigger="load, tags-reload from:body" hx-swap="innerHTML"></div>
    <div class="container row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-9">
                    <div class="border border-dark mt-3 rounded mx-auto">
                        <div class="m-3">{{.content}}</div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div hx-get="/tag/create?post-type=article&post-id={{.id}}" hx-swap="innerHTML" hx-trigger="load"></div>
                </div>
            </div>
        </div>
    </div>
</div>
{{end}}