{{define "change_password"}}
<div class="container w-25 mt-3">
    <form hx-put="/user/password">
        <div class="input-group has-validation">
            <label class="sr-only" for="password">Old Password</label>
            <input placeholder="Old password" class="form-control mt-3 rounded {{if .Errors.old_password}} is-invalid {{end}}" type="password" name="old_password" id="old_password">
            {{if .Errors.old_password}}
                <div class="invalid-feedback">{{.Errors.old_password}}</div>
            {{end}}
        </div>
        <div class="input-group has-validation">
            <label class="sr-only" for="password">New Password</label>
            <input placeholder="New password" class="form-control mt-3 rounded {{if .Errors.password}} is-invalid {{end}}" type="password" name="password" id="password">
            {{if .Errors.password}}
                <div class="invalid-feedback">{{.Errors.password}}</div>
            {{end}}
        </div>
        <div class="input-group has-validation">
            <label class="sr-only" for="password2">Confirm new password</label>
            <input placeholder="Confirm new password" class="form-control mt-3 rounded {{if .Errors.password2}} is-invalid {{end}}" type="password" name="password2" id="password2">
            {{if .Errors.password2}}
                <div class="invalid-feedback">{{.Errors.password2}}</div>
            {{end}}
        </div>
        <button class="btn btn-warning mt-3" type="submit">Update</button>
    </form>
</div>
{{end}}