{{define "dashboard"}} 
<div class="conatiner mt-3 fade-in fade-out">
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link active" href="#users" data-toggle="tab" id="users-tab">
                {{Translate .locale "dashboard_users_tab"}}
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#reports" data-toggle="tab" id="reports-tab">
                {{Translate .locale "dashboard_reports_tab"}}
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#posts" data-toggle="tab" id="posts-tab">
                {{Translate .locale "dashboard_posts_tab"}}
            </a>
        </li>
        {{if .isAdmin}}
        <li class="nav-item">
            <a class="nav-link" href="#config" data-toggle="tab" id="config-tab">
                {{Translate .locale "dashboard_config_tab"}}
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#moderator" data-toggle="tab" id="moderator-tab">
                {{Translate .locale "dashboard_moderator_tab"}}
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#summary" data-toggle="tab" id="summary-tab">
                {{Translate .locale "dashboard_summary_tab"}}
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#restrict" data-toggle="tab" id="restrict-tab">
                {{Translate .locale "dashboard_restrict_tab"}}
            </a>
        </li>
        {{end}}
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" hx-get="/moderation/users" hx-trigger="load" id="users"></div>
        <div class="tab-pane" hx-get="/reports" hx-trigger="click once from:#reports-tab"
        id="reports"></div>
        <div class="tab-pane" hx-get="/posts/moderation/tab" hx-trigger="click once from:#posts-tab"
        id="posts"></div>
        {{if .isAdmin}}
        <div class="tab-pane" hx-get="/admin/tools/config" hx-trigger="click once from:#config-tab" 
        id="config"></div>
        <div class="tab-pane" hx-get="/admin/tools/create/moderator" hx-trigger="click once from:#moderator-tab" 
        id="moderator"></div>
        <div class="tab-pane" hx-get="/admin/tools/summary" hx-trigger="click once from:#summary-tab" 
        id="summary"></div>
        <div class="tab-pane" hx-get="/admin/tools/restrict" hx-trigger="click once from:#restrict-tab" 
        id="restrict"></div>
        {{end}}
    </div>
</div>
{{end}}