{{define "full_page_load"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <script src="/static/jquery-3.7.1.min.js"></script>
    <script src="/static/bootstrap.bundle.min.js"></script>
    <script src="/static/htmx.min.js"></script>
    <script src="/static/summernote-bs4.min.js"></script>
    <link rel="stylesheet" href="/static/summernote-bs4.min.css">
    <title>{{.title}}</title>
</head>
<style>
    .word-wrap {
        word-wrap: break-word;
    }

    .fade-out.htmx-swapping {
        opacity: 0;
        transition: opacity 0.3s ease-out;
    }

    .fade-in.htmx-added {
        opacity: 0;
    }

    .fade-in {
        opacity: 1;
        transition: opacity 0.3s ease-in;
    }
</style>

<body class="word-wrap">
    {{template "navbar" .}}
    <div id="main-app" class="container fade-in">
        <div hx-get="{{.page_to_load}}" hx-swap="outerHTML" hx-trigger="load"></div>
    </div>
</body>
</html>
{{end}}