{{define "gallery"}}
<div class="container fade-in fade-out">
    <div id="details" class="mt-3 mx-3 rounded" style="background-color: #e0e0e0;">
        <h1 class="ml-3">{{.title}}</h1>
        <p class="ml-3 p-2 rounded" style="cursor: pointer; width: fit-content;" 
        hx-get="/profile/{{.author}}?which=part" hx-push-url="/profile/{{.author}}" hx-target="#main-app" hx-swap="innerHTML" 
        hx-trigger="click">{{Translate $.locale "by_preposition"}} <strong>@{{.author}}</strong></p>
    </div>
    {{if .isAuthor}}
    <div class="mx-auto mt-3 ml-3">
        {{if .isActive}}
        <button class="btn btn-info ml-3" hx-get="/gallery/edit/{{.id}}"
        hx-target="#main-app" hx-swap="innerHTML" hx-push-url="true"><p class="pl-3 pr-3 m-0">{{Translate .locale "gallery_author_edit_button"}}</p></button>
        {{if not .published}}
        <button class="btn btn-warning ml-3" hx-post="/gallery/{{.id}}/publish"
        hx-target="#main-app" hx-swap="innerHTML"><p class="pl-3 pr-3 m-0">{{Translate .locale "gallery_author_publish_button"}}</p></button>
        {{end}}
        {{end}}
        <button hx-delete="/gallery/delete/{{.id}}" class="btn btn-danger ml-3"><p class="pl-3 pr-3 m-0">{{Translate .locale "gallery_author_delete_button"}}</p></button>
    </div>
    {{end}}
</div>
<div class="container fade-in fade-out">
    <div hx-get="/vote/gallery/{{.id}}" hx-trigger="load, votes-reload from:body" hx-swap="innerHTML"></div>
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-9">{{template "images" .}}</div>
                <div class="col-md-3">
                    <div hx-get="/tag/create?post-type=gallery&post-id={{.id}}" hx-swap="innerHTML" hx-trigger="load"></div>
                </div>
            </div>
        </div>
    </div>
</div>
{{end}}