{{define "gallery_list"}}
<div class="container fade-in fade-out">
    <div class="row">
        <div class="col-md-12">
            <div class="row mt-3">
                {{range .galleries}}
                <div class="col-md-4 mt-3">
                    <div class="card" style="cursor: pointer; min-height: 100%;"
                    hx-get="/gallery/{{.id}}?which=part" hx-target="#main-app"
                    hx-swap="innerHTML" hx-push-url="/gallery/{{.id}}">
                        <div class="card-header">
                            <h5>{{.title}}</h5>
                            {{if .showBadge}}
                            {{if .published}}
                            <span class="badge badge-success">{{Translate $.locale "gallery_list_badge_published"}}</span>
                            {{else}}
                            <span class="badge badge-warning">{{Translate $.locale "gallery_list_badge_draft"}}</span>
                            {{end}}
                            {{end}}
                        </div>
                        <div class="card-body">
                            <div style=" display: flex; justify-content: center; width: 100%;">
                                <img class="img-fluid" style=" max-height: 8rem;" src="{{.url}}" alt="{{.title}} {{Translate $.locale "by_preposition"}} {{.author}}">
                                <div class="bg-primary text-center text-light" style="font-size: 2rem;"><p class="mx-3"></p>{{.amount}}</div>
                            </div>
                        </div>
                    </div>
                </div>
                {{end}}
            </div>
        </div>
    </div>
</div>
{{if .more}}
<div hx-get="{{.nextPage}}" hx-trigger="revealed" class="m-3 p-3"></div>
{{end}}
{{end}}