{{define "gallery_title"}}
<form class="form-inline w-100 fade-in fade-out" hx-get="/gallery/{{.id}}/title" hx-swap="outerHTML">
    <label for="title" class="sr-only">{{Translate .locale "gallery_title_form_title_label"}}</label>
    <h2 class="border rounded border-dark px-1">{{.value_title}}</h2>
    <button class="btn btn-primary m-1" type="submit"
    ><p class="pl-3 pr-3 m-0">{{Translate .locale "gallery_title_form_edit_button"}}</p></button>
    <button class="btn btn-danger" hx-delete="/gallery/delete/{{.id}}"
    ><p class="pl-3 pr-3 m-0">{{Translate .locale "gallery_title_form_delete_button"}}</p></button>
</form>
{{end}}