{{define "image_collections"}}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="row mt-3">
                {{range .}}
                <div class="col-md-4">
                    <div class="card" style="cursor: pointer; min-height: 100%;"
                    hx-get="/images/collection/{{.id}}" hx-target="#main-app"
                    hx-swap="innerHTML">
                        <div class="card-header">
                            <h5>{{.title}}</h5>
                            {{if .published}}
                            <span class="badge badge-success">Published</span>
                            {{else}}
                            <span class="badge badge-warning">Draft</span>
                            {{end}}
                        </div>
                        <div class="card-body">
                            <div style=" display: flex; justify-content: center; width: 100%;">
                                <img class="img-fluid" style=" max-height: 8rem;" src="{{.url}}" alt="{{.title}} by {{.author}}">
                                <div class="bg-primary text-center text-light" style="font-size: 2rem;"><p class="mx-3"></p>{{.amount}}</div>
                            </div>
                        </div>
                    </div>
                </div>
                {{end}}
            </div>
        </div>
    </div>
</div>
{{end}}