{{define "navbar"}}
<nav id="navbar" class="navbar navbar-expand-lg navbar-light" style="background-color: #99ff99;" hx-get="/navbar"
    hx-trigger="session-changed from:body" hx-swap="outerHTML">
    <a href="#" class="navbar-brand" hx-get="/posts?page=1" hx-target="#main-app" hx-swap="innerHTML"
    hx-push-url="/posts">Portfol.io</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse ml-5" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto" id="mobile-menu">
            {{if .IsAuthenticated}}
            <li class="nav-item">
                <a href="#" class="nav-link" hx-get="/profile/mine" hx-target="#main-app"
                hx-swap="innerHTML" hx-push-url="true">{{Translate .locale "navbar_my_profile"}}</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                    {{Translate .locale "navbar_my_space"}}
                </a>
                <div class="dropdown-menu">
                    <a href="#" class="dropdown-item" hx-get="/article/create" hx-target="#main-app"
                    hx-swap="innerHTML" hx-push-url="true">{{Translate .locale "navbar_my_space_write_article"}}</a>
                    <a href="#" class="dropdown-item" hx-get="/article/mine?page=1" hx-target="#main-app"
                    hx-swap="innerHTML" hx-push-url="/article/mine">{{Translate .locale "navbar_my_space_my_articles"}}</a>
                    <a href="#" class="dropdown-item" hx-get="/gallery/create" hx-target="#main-app"
                    hx-swap="innerHTML" hx-push-url="true">{{Translate .locale "navbar_my_space_create_gallery"}}</a>
                    <a href="#" class="dropdown-item" hx-get="/gallery/mine?page=1" hx-target="#main-app"
                    hx-swap="innerHTML" hx-push-url="/gallery/mine">{{Translate .locale "navbar_my_space_my_galleries"}}</a>
                </div>
            </li>
            <li class="nav-item">
                <a href="#" hx-get="/logout" hx-target="#main-app" hx-swap="innerHTML" 
                class="nav-link">{{Translate .locale "navbar_logout"}}</a>
            </li>
            {{else}}
            <li class="nav-item">
                <a href="#" hx-get="/register" hx-target="#main-app" hx-swap="innerHTML" 
                class="nav-link">{{Translate .locale "navbar_register"}}</a>
            </li>
            <li class="nav-item">
                <a href="#" hx-get="/login" hx-target="#main-app" hx-swap="innerHTML" 
                class="nav-link">{{Translate .locale "navbar_login"}}</a>
            </li>
            {{end}}
        </ul>
    </div>
</nav>
{{end}}