{{define "password_change"}}
<div class="container">
    <form action="" hx-post="/profile/mine/edit/password" hx-target="#main-app" hx-swap="innerHTML">
        <label for="old_password">{{Translate .locale "password_change_old_password_label"}}</label>
        <div class="form-group has-validation">
            <input type="password" name="old_password" id="old_password" 
            class="form-control {{if .errors.old_password}}is-invalid{{end}}"
            placeholder="{{Translate .locale "password_change_old_password_input"}}">
            {{if .errors.old_password}}
            <div class="invalid-feedback">{{.errors.old_password}}</div>
            {{end}}
        </div>
        <label for="new_password">{{Translate .locale "password_change_new_password_label"}}</label>
        <div class="form-group has-validation">
            <input type="password" name="new_password" id="new_password" 
            class="form-control {{if .errors.new_password}}is-invalid{{end}}"
            placeholder="{{Translate .locale "password_change_new_password_input"}}">
            {{if .errors.new_password}}
            <div class="invalid-feedback">{{.errors.new_password}}</div>
            {{end}}
        </div>
        <label for="new_password_2">{{Translate .locale "password_change_new_password_2_label"}}</label>
        <div class="form-group has-validation">
            <input type="password" name="new_password_2" id="new_password_2" 
            class="form-control {{if .errors.new_password_2}}is-invalid{{end}}"
            placeholder="{{Translate .locale "password_change_new_password_2_input"}}">
            {{if .errors.new_password_2}}
            <div class="invalid-feedback">{{.errors.new_password_2}}</div>
            {{end}}
        </div>
        <button class="btn btn-primary">{{Translate .locale "password_change_submit_button"}}</button>
    </form>
</div>
{{end}}