{{define "posts"}}
<div class="container fade-in fade-out">
    <div class="wide-row">
        <div>
            <div class="columns-by-3">
                {{range .posts}}
                {{if eq .post_type "article"}}
                <div>
                    <div id="post-{{.id}}-{{.post_type}}" class="post-type-article"
                    hx-get="/article/{{.id}}?which=part" hx-push-url="/article/{{.id}}" hx-target="#main-app">
                        <div>
                            <h3>{{.title}}</h3>
                            <p hx-get="/profile/{{.author}}?which=part" hx-push-url="/profile/{{.author}}"
                            hx-target="#main-app" hx-swap="innerHTML" hx-trigger="click" 
                            hx-sync="#post-{{.id}}-{{.post_type}}:drop"
                            >{{Translate $.locale "by_preposition"}} <strong>@{{.author}}</strong></p>
                            <span>{{Translate $.locale "card_badge_article"}}</span>
                        </div>
                    </div>
                </div>
                {{else if eq .post_type "gallery"}}
                <div>
                    <div id="post-{{.id}}-{{.post_type}}" class="post-type-gallery"
                    hx-get="/gallery/{{.id}}?which=part" hx-target="#main-app" hx-push-url="/gallery/{{.id}}">
                        <div>
                            <h3>{{.title}}</h3>
                            <p hx-get="/profile/{{.author}}?which=part" hx-push-url="/profile/{{.author}}"
                            hx-target="#main-app" hx-swap="innerHTML" hx-trigger="click" 
                            hx-sync="#post-{{.id}}-{{.post_type}}:drop"
                            >{{Translate $.locale "by_preposition"}} <strong>@{{.author}}</strong></p>
                            <span>{{Translate $.locale "card_badge_gallery"}}</span>
                        </div>
                        <div>
                            <div>
                                <img src="{{.url}}" alt="{{.title}} {{Translate $.locale "by_preposition"}} {{.author}}">
                                <div><p></p>{{.amount}}</div>
                            </div>
                        </div>
                    </div>
                </div>
                {{end}}
                {{end}}
            </div>
        </div>
    </div>
</div>
{{if .more}}
<div hx-get="{{.nextPage}}" hx-trigger="revealed" class="m-3 p-3 fade-in fade-out" hx-swap="outerHTML"></div>
{{end}}
{{end}}