{{define "reports_list"}}
{{range .reports}}
<div class="columns-1-10-1 fade-in fade-out">
    <div><div style="min-width: 10px;"></div></div>
    <div hx-get="/reports/{{.id}}" hx-target="#main-app" hx-swap="innerHTML" hx-push-url="true">
        <div>
            <h2>{{.createdAt}}</h2>
            <p><i>{{.description}}</i></p>
        </div>
    </div>
    <div><div style="min-width: 10px;"></div></div>
</div>
{{end}}
{{if .more}}
<div hx-get="{{.nextPage}}" hx-trigger="revealed" class="m-3 p-3 fade-in fade-out"></div>
{{end}}
{{end}}