{{define "section_edit"}}
<div class="container  fade-in fade-out">
    <div class="row">
        <div class="col-md-12">
            <h1>{{.name}}</h1>
            <button class="btn btn-danger" hx-delete="/profile/{{$.username}}/sections/{{.}}" hx-target="#main-app"
            hx-swap="innerHTML"><p class="pl-3 pr-3 m-0">{{Translate .locale "section_edit_button_delete"}}</p></button>
        </div>
    </div>
    <div class="container mt-3">
        <div hx-get="/profile/{{.username}}/section/{{.name}}/edit/posts" hx-trigger="revealed" class="m-3 p-3" hx-swap="outerHTML"></div>
    </div>
</div>
{{end}}