{{define "tags"}}
<div class="tags fade-in fade-out">
    {{range .tags}}
    <p id="tag-{{.name}}">
        <span class="badge badge-pill"
        style="background-color: {{.bgColor}};"
        {{if and (and .post_type .post_id) .add}}
        hx-post="/vote?posttype={{.post_type}}&postid={{.post_id}}&tag={{.name}}"
        hx-trigger="click"
        hx-swap="none"
        hx-target="#tag-{{.name}}"
        data-toggle="tooltip"
        title="{{Translate $.locale "tag_add_to"}}"
        {{else if and .post_type .post_id}}
        hx-get="/{{.post_type}}/tag/{{.name}}?page=1"
        hx-trigger="click"
        hx-swap="innerHTML"
        hx-target="#main-app"
        hx-push-url="/{{.post_type}}/tag/{{.name}}"
        {{end}}
        >{{.name}}</span>
    </p>
    {{end}}
</div>
{{end}}